[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
opencv-python = "*"
bs4 = "*"
pillow = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.10"
